h1 {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 80pt;
  color: white;
}

p {
  color: #d9dee1;
}

h4 {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 15pt;
  color: white;
}

.pagecount {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 80pt;
  color: #303030;
}
html {
  background-color: #1e1e1e;
}
