h1 {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 80pt;
  color: #d9dee1;
}

h4 {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 15pt;
  color: #c7c7c7;
}

.pagecount {
  text-align: center;
  font-family: Calibri, sans-serif;
  font-size: 80pt;
  color: #303030;
}
